{% extends "layout/base.html" %} {% block css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/auth.css') }}"
/>
{% endblock %} {% block title %} Login {% endblock %} {% block content %}

<section class="auth-section">
  <div class="auth-card parallax-el">
    <h2>Welcome Back</h2>

    <p>Login to Wonderful Crown</p>

    <form method="POST">
      {{ form.hidden_tag() }}

      <div class="mb-3">
        {{ form.email.label(class="form-label") }} {{
        form.email(class="form-control") }}
      </div>

      <div class="mb-4">
        {{ form.password.label(class="form-label") }}

        <div class="password-wrapper">
          {{ form.password(class="form-control", id="login_password") }}

          <i
            class="bi bi-eye-slash toggle-password"
            onclick="togglePassword('login_password', this)"
          >
          </i>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="form-check">
          {{ form.remember(class="form-check-input") }} {{
          form.remember.label(class="form-check-label") }}
        </div>

        <a href="/forgot-password" class="text-decoration-none">
          Forgot Password?
        </a>
      </div>

      {{ form.submit(class="btn btn-primary-custom auth-btn") }}
    </form>

    <div class="auth-link">
      Don't have an account?

      <a href="/register"> Register </a>
    </div>
  </div>
</section>

{% block js %}
<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
<script src="{{ url_for('static', filename='js/cursor-effects.js') }}"></script>
{% endblock %} {% endblock %}
